<!DOCTYPE html>
<html>
  <%= render 'head' %>
<body>
  <section id="page">
  <div id="bodywrap">
    <section id="top">
      <%= render 'navigation' %>
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'footer' %>
    </div>
  </section>
</body>
</html>

